{% extends 'mineral_catalog/layout.html' %} {% load static %} 
{% load mineral_extra %}
{% block content %}
<div class="bounds bounds--small">
	<div class="grid-100">
		<a href="index.html">
			<svg
				class="logo"
				viewBox="0 0 127.6 84.8"
				preserveAspectRation="xMinYMin meet"
			>
				<polygon
					points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "
				/>
				<polygon
					class="logo--middle"
					points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "
				/>
				<polygon
					points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "
				/>
			</svg>
			<h1 class="logo__name text-centered">Macky's Minerals</h1>
		</a>
		<p class="logo__text text-centered">They're not rocks!</p>
	</div>
	<div class="grid-100 mineral__container">
		<h1 class="mineral__name">{{ mineral.name.1 }}</h1>
		<div class="mineral__image-bg">
			<img
				class="mineral__image"
				src="{% static 'mineral_catalog/images/'|add:mineral.name.1|add:'.jpg' %}"
			/>
			<p class="mineral__caption">{{ mineral.image_caption.1 }}</p>
		</div>
		<div class="mineral__table-container">
            <h3>General</h3>
			<table class="mineral__table general">
				<tr>
					<td class="mineral__category">Category</td>
					<td>{{ mineral.category.1 }}</td>
				</tr>
				<tr>
					<td class="mineral__category">Group</td>
					<td>{{ mineral.group.1 }}</td>
                </tr>
                {% if mineral.color %}
                <tr>
                    <td class="mineral__category">Color</td>
                    <td>{{ mineral.color.1 }}</td>
                </tr>
                {% endif %}
                {% if mineral.formula %}
				<tr>
					<td class="mineral__category ">Formula</td>
					<td class="mineral__formula">
						{{ mineral.formula.1|safe }}
					</td>
                </tr>
                {% endif %}
            </table>
            <h4>Other</h4>
            <table class="mineral__table other">
                {% for key,value in mineral.items %}
                {% if key == 'category' or key == 'group' or key == 'formula' or key == 'image_caption' or key == 'image_filename' or key == 'name' or key == 'color' %}
                    
                {% else %}
				<tr>
                        <td class="mineral__category">{{ value.0|title }}</td>
                        <td>{{ value.1 }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
			</table>
		</div>
	</div>
</div>
<div class="minerals__random">
	<a class="minerals__anchor" href="{% url 'mineral_catalog:detail' name=''|random  %}">Show random mineral</a>
</div>
{% endblock %}
